<footer class="page">
    <div data-element-guid="f7c3277b-95b1-490e-a386-3b4b7d3d244f" class="row-section desktop-space-outsideBottom-none mobile-space-outsideBottom-none bg-primary color_mobile_bg-primary mobile_no_border_side hasContentPadding mobile-hasContentPadding" style="">
<div class="row small-12 large-12 desktop-space-outsideBottom-none mobile-space-outsideBottom-none bg-primary color_mobile_bg-primary mobile_no_border_side hasContentPadding mobile-hasContentPadding" style=""><div data-element-guid="018747f6-07cc-4154-b222-289baa6ee5a6" class="column text_multiline small-12 large-12 small-abs-12 large-abs-12">
    
    <div class="content multiline bodytext"
        style="">
        
    </div>
</div>

</div>
</div>
<div data-element-guid="8020acda-aca3-44b0-867b-04994e865d7e" class="row-section desktop-space-outsideBottom-none mobile-space-outsideBottom-none bg-primary color_mobile_bg-primary mobile_no_border_side hasContentPadding mobile-hasContentPadding" style="">
<div class="row small-12 large-12 desktop-space-outsideBottom-none mobile-space-outsideBottom-none desktop-space-insideTop-medium mobile-space-insideTop-medium bg-primary color_mobile_bg-primary mobile_no_border_side hasContentPadding mobile-hasContentPadding" style=""><div data-element-guid="94a1dc91-06ec-455a-859b-80c8a3b207e1" class="columns small-12 large-8 small-abs-12 large-abs-8"><div data-element-guid="17f3b68f-b265-4372-a8d6-56ab508d34e8" class="row small-12 large-12" style=""><div data-element-guid="f7e83825-30df-46c6-a454-baec26037551" class="column text_singleline small-12 large-12 small-abs-12 large-abs-8">
    
    <h3 class="content singleline t14 font-weight-bold m-font-weight-bold" style=" ">
        REDAKTION
    </h3>
</div><div data-element-guid="c4b38ac4-c73f-446a-8be6-2db7787aa46f" class="column text_singleline small-12 large-12 small-abs-12 large-abs-8">
    
    <h3 class="content singleline t14" style=" ">
        ADM. DIREKTØR &amp; ANSVARSHAVENDE CHEFREDAKTØR <br>Masaana Egede
<br><br><span data-lab-font_weight_mobile="font-weight-bold" class="m-font-weight-bold" data-lab-font_weight_desktop="">DIGITALREDAKTØR</span> <br>Kassaaluk Kristensen
<br><br><br>KONTAKT REDAKTIONEN<br>Redaktion@sermitsiaq.gl<br>Issortarfimmut 7<br>3905 Nuussuaq<br>Tlf: +299 38 39 40
    </h3>
</div></div>
</div><div data-element-guid="9a00757b-174a-42d1-a98c-7c1460410d2b" class="column text_singleline small-12 large-4 small-abs-12 large-abs-4">
    
    <h3 class="content singleline t14 tm14 font-weight-bold m-font-weight-bold white color_mobile_white" style=" ">
        <a href="https://sermitsiaq.ag/bestyrelse-og-god-fondsledelse">BESTYRELSE OG GOD FONDSLEDELSE</a><br><a href="https://sermitsiaq.ag/ophavsret">OPHAVSRET</a><br><a href="https://sermitsiaq.ag/privatlivspolitik">PRIVATLIVSPOLITIK</a><br><a href="https://sermitsiaq.ag/sprogpolitik">SPROGPOLITIK</a><br><a href="https://sermitsiaq.ag/god-presseskik" class="">PRESSESKIK</a><br><a href="https://sermitsiaq.ag/debatpolitik">DEBATPOLITIK</a><br><a href="https://sermitsiaq.ag/alkoholpolitik">ALKOHOLPOLITIK</a><br><a href="https://sermitsiaq.ag/nyhedsbreve">NYHEDSBREVE</a><br><a href="https://sermitsiaq.ag/cookies">COOKIES</a>
    </h3>
</div></div>
</div>
<div data-element-guid="e60190cc-b972-4a88-9903-da214b81e504" class="row-section desktop-space-outsideBottom-none mobile-space-outsideBottom-none bg-primary color_mobile_bg-primary hasContentPadding mobile-hasContentPadding" style="">
<div class="row small-12 large-12 desktop-space-outsideBottom-none mobile-space-outsideBottom-none desktop-space-insideBottom-large mobile-space-insideBottom-large bg-primary color_mobile_bg-primary hasContentPadding mobile-hasContentPadding" style="">

</div>
</div>
<div data-element-guid="23626884-8fd4-4724-b96d-d74750569d12" class="row-section desktop-space-outsideBottom-none mobile-space-outsideBottom-none bg-primary color_mobile_bg-primary mobile_no_border_side border_width_no_border_width border_width_mobile_no_border_width hasContentPadding mobile-hasContentPadding" style="">
<div class="row small-12 large-12 desktop-space-outsideBottom-none mobile-space-outsideBottom-none desktop-space-insideTop-large mobile-space-insideTop-large desktop-space-insideBottom-large mobile-space-insideBottom-large bg-primary color_mobile_bg-primary mobile_no_border_side border_width_no_border_width border_width_mobile_no_border_width hasContentPadding mobile-hasContentPadding" style=""><article data-element-guid="364926a8-85b7-4e08-aa54-48744a555bea" class="column small-12 large-12 small-abs-12 large-abs-12 " data-site-alias="" data-section="" data-instance="100082" itemscope>
    
    <div class="content" style="">
        
        


        <div class="media ">
            <div class="floatingText">

                <div class="labels">
                </div>
            </div>
            

        </div>


        
            <p itemprop="description" 
    class="subtitle t19 tm14 align-center mobile_text_align_align-center"
    style=""
    >
    &nbsp; &nbsp; &nbsp;Sermitsiaq.gl © Copyright 2025. All rights reserved.
</p>


        




        

        <time itemprop="datePublished" datetime=""></time>
    </div>
</article>
</div>
</div>
<div data-element-guid="ffcd7548-de89-434d-ac25-2485f7045b0a" class="row-section desktop-space-outsideTop-small mobile-space-outsideTop-small desktop-space-outsideBottom-none mobile-space-outsideBottom-none color_mobile_no_bg_color" style="">
<div class="row small-12 large-12 desktop-space-outsideTop-small mobile-space-outsideTop-small desktop-space-outsideBottom-none mobile-space-outsideBottom-none color_mobile_no_bg_color" style=""><div data-element-guid="48888d09-3344-47ce-8085-5ad15d540711" class="column text_singleline small-12 large-12 small-abs-12 large-abs-12">
    
    <h3 class="content singleline t17 tm16 black color_mobile_black align-center mobile_text_align_align-center" style=" ">
        Design <a href="https://katbukh.com/" target="_blank" class="senary color_mobile_senary" data-lab-text_color_desktop="senary">katinkabukh.com</a>
    </h3>
</div></div>
</div>

</footer>
