{# Layout: 2 Articles 1 Row (t38) #}
{# Usage: {% include 'partials/layout_2_articles.html' with context %} #}
{# Requires: articles (list of 2 articles), row_guid #}

<div data-element-guid="{{ row_guid|default('') }}" class="row small-12 large-12" style="">
{% for article in articles[:2] %}
    {% set article_grid_size = article.grid_size|default(6) %}
    {% set layout_data = article.layout_data|default({}) %}
    {% set has_bg_black = layout_data.get('has_bg_black', False) %}
    <article data-element-guid="{{ article.element_guid|default('') }}" class="column {% if article.is_paywall %}paywall{% endif %} {{ article.paywall_class|default('') }} small-12 large-{{ article_grid_size }} small-abs-12 large-abs-{{ article_grid_size }} " data-site-alias="{{ article.site_alias|default('sermitsiaq') }}" data-section="{{ article.section|default('') }}" data-instance="{{ article.instance|default('') }}" itemscope>
    
    <div class="content {% if has_bg_black %}bg-black color_mobile_bg-black border-bg-black mobile_border-bg-black border_width_14 border_width_mobile_14 hasContentPadding mobile-hasContentPadding hasBorder mobile-hasBorder{% endif %}" style="">
        
        <a itemprop="url" class="" href="{{ article.url|default('#') }}" data-k5a-url="{{ article.k5a_url|default(article.url|default('#')) }}" rel="" style="text-decoration: none;">

        <div class="media ">
{% if article.image %}
                <figure data-element-guid="{{ article.image.element_guid|default('') }}" class="" >
    <div class="img fullwidthTarget">
        <picture>
            {% if article.image.desktop_webp %}
            <source srcset="{{ article.image.desktop_webp }}" 
                width="{{ article.image.desktop_width|default('529') }}"
                height="{{ article.image.desktop_height|default('344') }}"
                media="(min-width: 768px)"
                type="image/webp">    
            {% endif %}
            {% if article.image.desktop_jpeg %}
            <source srcset="{{ article.image.desktop_jpeg }}" 
                width="{{ article.image.desktop_width|default('529') }}"
                height="{{ article.image.desktop_height|default('344') }}"
                media="(min-width: 768px)"
                type="image/jpeg">    
            {% endif %}
            {% if article.image.mobile_webp %}
            <source srcset="{{ article.image.mobile_webp }}" 
                width="{{ article.image.mobile_width|default('480') }}"
                height="{{ article.image.mobile_height|default('312') }}"
                media="(max-width: 767px)"
                type="image/webp">    
            {% endif %}
            {% if article.image.mobile_jpeg %}
            <source srcset="{{ article.image.mobile_jpeg }}" 
                width="{{ article.image.mobile_width|default('480') }}"
                height="{{ article.image.mobile_height|default('312') }}"
                media="(max-width: 767px)"
                type="image/jpeg">    
            {% endif %}
            <img src="{{ article.image.fallback|default(article.image.mobile_jpeg|default('')) }}"
                width="{{ article.image.mobile_width|default('480') }}"
                height="{{ article.image.mobile_height|default('312') }}"
                title="{{ article.title|default('') }}"
                alt="{{ article.image.alt|default('') }}" 
                style=""    
                >
        </picture>        
            </div>
    
</figure>
{% endif %}

                
                
                
                
                
                
            
            <div class="floatingText">
{% if article.kicker_floating %}
                <div style="" class="kicker floating bg-primary color_mobile_bg-primary hasTextPadding mobile-hasTextPadding">
{{ article.kicker_floating }}
</div>
{% endif %}

                <div class="labels">
                </div>
            </div>
            
{% if article.is_paywall %}
<div class="paywallLabel  "><span class="fi-plus"></span> </div>
{% endif %}

        </div>

{% if article.is_paywall %}
<div class="paywallLabel  "><span class="fi-plus"></span> </div>
{% endif %}

        
{% if article.kicker_below %}
            <div style="" class="{{ article.kicker_below_classes|default('kicker below primary color_mobile_primary') }}">
{{ article.kicker_below }}
</div>
{% endif %}
            <h2 itemprop="headline" 
    class="headline t38 {% if has_bg_black %}white color_mobile_white{% endif %}"
    style=""
    >{% if article.title_parts %}
{% for part in article.title_parts %}{% if part.color_class %}<span class="{{ part.color_class }}">{{ part.text }}</span>{% else %}{{ part.text }}{% endif %}{% endfor %}
{% else %}{{ article.title|default('Article Title') }}{% endif %}
</h2>

        



        </a>

        <time itemprop="datePublished" datetime="{{ article.published_date|default('') }}"></time>
    </div>
</article>
{% endfor %}
</div>

