{# Layout: 1 Article Full Width with Special Background (bg-black) #}
{# Usage: {% include 'partials/layout_1_article_special_bg.html' with context %} #}
{# Requires: article, row_guid, kicker (optional) #}

<div data-element-guid="{{ row_guid|default('') }}" class="row small-12 large-12" style="">
    <article data-element-guid="{{ article.element_guid|default('') }}" class="column small-12 large-12 small-abs-12 large-abs-12 " data-site-alias="{{ article.site_alias|default('sermitsiaq') }}" data-section="{{ article.section|default('') }}" data-instance="{{ article.instance|default('') }}" itemscope>
    
    <div class="content bg-black color_mobile_bg-black border-bg-black mobile_border-bg-black border_width_14 border_width_mobile_14 hasContentPadding mobile-hasContentPadding hasBorder mobile-hasBorder" style="">
        
        <a itemprop="url" class="" href="{{ article.url|default('#') }}" data-k5a-url="{{ article.k5a_url|default(article.url|default('#')) }}" rel="" style="text-decoration: none;">

        <div class="media ">
{% if article.image %}
                <figure data-element-guid="{{ article.image.element_guid|default('') }}" class="" >
    <div class="img fullwidthTarget">
        <picture>
            {% if article.image.desktop_webp %}
            <source srcset="{{ article.image.desktop_webp }}" 
                width="{{ article.image.desktop_width|default('1058') }}"
                height="{{ article.image.desktop_height|default('688') }}"
                media="(min-width: 768px)"
                type="image/webp">    
            {% endif %}
            {% if article.image.desktop_jpeg %}
            <source srcset="{{ article.image.desktop_jpeg }}" 
                width="{{ article.image.desktop_width|default('1058') }}"
                height="{{ article.image.desktop_height|default('688') }}"
                media="(min-width: 768px)"
                type="image/jpeg">    
            {% endif %}
            {% if article.image.mobile_webp %}
            <source srcset="{{ article.image.mobile_webp }}" 
                width="{{ article.image.mobile_width|default('480') }}"
                height="{{ article.image.mobile_height|default('312') }}"
                media="(max-width: 767px)"
                type="image/webp">    
            {% endif %}
            {% if article.image.mobile_jpeg %}
            <source srcset="{{ article.image.mobile_jpeg }}" 
                width="{{ article.image.mobile_width|default('480') }}"
                height="{{ article.image.mobile_height|default('312') }}"
                media="(max-width: 767px)"
                type="image/jpeg">    
            {% endif %}
            <img src="{{ article.image.fallback|default(article.image.mobile_jpeg|default('')) }}"
                width="{{ article.image.mobile_width|default('480') }}"
                height="{{ article.image.mobile_height|default('312') }}"
                title="{{ article.title|default('') }}"
                alt="{{ article.image.alt|default('') }}" 
                loading="lazy"
                style=""    
                >
        </picture>        
            </div>
    
</figure>
{% endif %}

                
                
                
                
                
                
            
            <div class="floatingText">

                <div class="labels">
                </div>
            </div>
            

        </div>

        
{% if article.kicker %}
            <div 
style=""
class="kicker below ">
{{ article.kicker }}
</div>
{% endif %}
            <h2 itemprop="headline" 
    class="headline t48"
    style=""
    >{{ article.title|default('Article Title') }}
</h2>

        



        </a>

        <time itemprop="datePublished" datetime="{{ article.published_date|default('') }}"></time>
    </div>
</article>
</div>

