{% extends "base.html" %}

{% block head %}
    {% include 'partials/head.html' %}
    <title>{{ _('Contact') }} - Sermitsiaq</title>
{% endblock %}

{% block content %}
<section class="main front" id="main">
    <h1 class="hidden-heading">Kontakt - sermitsiaq</h1>
    
    <!-- Top Ad Placeholder -->
    <div data-element-guid="230caa00-a897-454f-83c1-3d0e98c897f9" class="placeholder placement-top">
        <div data-element-guid="129924b5-e01d-4db2-ca36-6348f9b339b4" class="column google-ad small-12 large-12 small-abs-12 large-abs-12" style="">
            <span class="ad-label">Annonce</span>
            <div class="adunit" id="2018-Top-Mega-banner"></div>
            <script>
                googletag.cmd.push(function() {
                    googletag.display('2018-Top-Mega-banner');
                });
            </script>
        </div>
    </div>
    
    <!-- Page Content -->
    <div data-element-guid="df5fc75c-1a44-4e37-876a-48e26dcd1ccf" class="page-content">
        <!-- Page Title -->
        <div data-element-guid="b2b97704-6024-43db-bf0d-41a2ecf794a1" class="row small-12 large-12 mobile_no_border_side" style="">
            <div data-element-guid="214b014e-e1c0-41d1-a44f-994bfe1af813" class="column text_singleline small-12 large-12 small-abs-12 large-abs-12">
                <h3 class="content singleline border-side-bottom mobile_border-side-bottom font-weight-bold m-font-weight-bold primary color_mobile_primary font-IBMPlexSansCondensed" style="">
                    {{ _('Contact') }}
                </h3>
            </div>
        </div>
        
        <!-- Ad Banner -->
        <div data-element-guid="111dd12c-a935-4e0e-f392-2fea9383bf38" class="row small-12 large-12" style="">
            <div data-element-guid="8c6ecaa4-ed9d-4d7b-85cb-e393959f114f" class="column google-ad small-12 large-12 small-abs-12 large-abs-12" style="">
                <span class="ad-label">Annonce</span>
                <div class="adunit" id="2018-Forsidebanner-1"></div>
                <script>
                    googletag.cmd.push(function() {
                        googletag.display('2018-Forsidebanner-1');
                    });
                </script>
            </div>
        </div>
        
        <!-- Contact Information -->
        <div data-element-guid="63eb47e1-08ca-4a93-8cd0-b31ae06e0e68" class="row small-12 large-12" style="">
            <div data-element-guid="eae73ffe-e83b-4ea6-8825-356c974d6b5d" class="column text_multiline small-12 large-12 small-abs-12 large-abs-12">
                <div class="content multiline bodytext mobile_no_border_side border_width_0 border_width_mobile_0" style="">
                    <!-- ADMINISTRATION -->
                    <p class="primary color_mobile_primary font-IBMPlexSans font-weight-bold m-font-weight-bold" data-lab-fontface="IBMPlexSans" data-lab-font_weight="font-weight-bold">{{ _('ADMINISTRATION') }}<br></p>
                    <p class="font-IBMPlexSans" data-lab-fontface="IBMPlexSans">
                        <span data-lab-font_weight="font-weight-bold" class="font-weight-bold m-font-weight-bold">Masaana Egede</span>, {{ _('adm. direktør & chefredaktør') }}<br>
                        <a href="mailto:masaana@sermitsiaq.gl">masaana@sermitsiaq.gl</a>
                    </p>
                    <p class="font-IBMPlexSans" data-lab-fontface="IBMPlexSans">
                        <span data-lab-font_weight="font-weight-bold" class="font-weight-bold m-font-weight-bold">Paninnguaq Heilmann,</span> {{ _('Økonomichef') }}<br>
                        <a href="mailto:ph@sermitsiaq.gl">ph@sermitsiaq.gl</a><br>
                    </p>
                    <p class="font-IBMPlexSans" data-lab-fontface="IBMPlexSans">
                        <span data-lab-font_weight="font-weight-bold" class="font-weight-bold m-font-weight-bold">Repse Høegh Larsen,</span> {{ _('Allaffik/administration') }}<br>
                        <a href="mailto:repse@sermitsiaq.gl">repse@sermitsiaq.gl</a>
                    </p>
                    <p data-lab-fontface="IBMPlexSans" class="font-IBMPlexSans">
                        <span data-lab-font_weight="font-weight-bold" class="font-weight-bold m-font-weight-bold">Maya Johansen</span>, {{ _('Allaffik/administration') }}<br>
                        <a href="mailto:mj@sermitsiaq.gl">mj@sermitsiaq.gl</a>
                    </p>
                    
                    <!-- REDAKTION -->
                    <p class="primary color_mobile_primary font-IBMPlexSans" data-lab-fontface="IBMPlexSans">
                        <span data-lab-text_color="primary" class="primary color_mobile_primary font-weight-bold m-font-weight-bold" data-lab-font_weight="font-weight-bold">{{ _('REDAKTION') }}</span>
                    </p>
                    <p class="font-IBMPlexSans font-weight-bold m-font-weight-bold" data-lab-font_weight="font-weight-bold" data-lab-fontface="IBMPlexSans">
                        {{ _('Redaktion') }}<br>
                        <a href="mailto:redaktion@sermitsiaq.gl">redaktion@sermitsiaq.gl</a><br>
                    </p>
                    <p class="font-weight-normal m-font-weight-normal font-IBMPlexSans" data-lab-font_weight="font-weight-normal" data-lab-fontface="IBMPlexSans">
                        <span data-lab-font_weight="font-weight-bold" class="font-weight-bold m-font-weight-bold">Kassaaluk Kristensen,</span> {{ _('Digitalredaktør') }}<br>
                        <a href="mailto:kassaaluk@sermitsiaq.gl">kassaaluk@sermitsiaq.gl</a>
                    </p>
                    <p class="font-IBMPlexSans font-weight-normal m-font-weight-normal" data-lab-font_weight="font-weight-normal" data-lab-fontface="IBMPlexSans">
                        <span data-lab-font_weight="font-weight-bold" class="font-weight-bold m-font-weight-bold">Dorthe Olsen,</span> {{ _('Redaktør Sermitsiaq') }}<br>
                        <a href="mailto:dorthe@sermitsiaq.gl">dorthe@sermitsiaq.gl</a>
                    </p>
                    <p class="font-IBMPlexSans font-weight-normal m-font-weight-normal" data-lab-font_weight="font-weight-normal" data-lab-fontface="IBMPlexSans">
                        <span data-lab-font_weight="font-weight-bold" class="font-weight-bold m-font-weight-bold">Jette Andersen,</span> {{ _('Redaktør AG') }}<br>
                        <a href="mailto:jette@sermitsiaq.gl">jette@sermitsiaq.gl</a>
                    </p>
                    <p class="font-weight-normal m-font-weight-normal font-IBMPlexSans" data-lab-font_weight="font-weight-normal" data-lab-fontface="IBMPlexSans">
                        <span data-lab-font_weight="font-weight-bold" class="font-weight-bold m-font-weight-bold">Thomas Munk Veirum,</span> {{ _('Journalist') }}<br>
                        <a href="mailto:thomas@sermitsiaq.gl">thomas@sermitsiaq.gl</a>
                    </p>
                    <p class="font-IBMPlexSans" data-lab-fontface="IBMPlexSans">
                        <span data-lab-font_weight="font-weight-bold" class="font-weight-bold m-font-weight-bold">Jensine Berthelsen,</span> {{ _('Journalist') }}<br>
                        <a href="mailto:jensine@sermitsiaq.gl">jensine@sermitsiaq.gl</a>
                    </p>
                    <p class="font-IBMPlexSans font-weight-normal m-font-weight-normal" data-lab-fontface="IBMPlexSans" data-lab-font_weight="font-weight-normal">
                        <span data-lab-font_weight="font-weight-bold" class="font-weight-bold m-font-weight-bold">Morten Okkels,</span> {{ _('Journalist') }}<br>
                        <a href="mailto:morten@sermitsiaq.gl">morten@sermitsiaq.gl</a>
                    </p>
                    <p class="font-IBMPlexSans font-weight-normal m-font-weight-normal" data-lab-fontface="IBMPlexSans" data-lab-font_weight="font-weight-normal">
                        <span data-lab-font_weight="font-weight-bold" class="font-weight-bold m-font-weight-bold">Hanna Hviid,</span> {{ _('Journalist') }}<br>
                        <a href="mailto:hahv@sermitsiaq.gl">hahv@sermitsiaq.gl</a><br>
                    </p>
                    <p class="font-IBMPlexSans" data-lab-fontface="IBMPlexSans">
                        <span data-lab-font_weight="font-weight-bold" class="font-weight-bold m-font-weight-bold">Paninnguaq Steenholdt,</span> {{ _('Journalist') }}<br>
                        <a href="mailto:paninnguaq@sermitsiaq.gl">paninnguaq@sermitsiaq.gl</a>
                    </p>
                    <p class="font-IBMPlexSans" data-lab-fontface="IBMPlexSans">
                        <span data-lab-font_weight="font-weight-bold" class="font-weight-bold m-font-weight-bold">Henriette Dohm,</span> {{ _('Journalist') }}<br>
                        <a href="mailto:hdom@sermitsiaq.gl">hdom@sermitsiaq.gl</a>
                    </p>
                    <p class="font-IBMPlexSans" data-lab-fontface="IBMPlexSans">
                        <span data-lab-font_weight="font-weight-bold" class="font-weight-bold m-font-weight-bold">Birgitte Kjeldsen</span>, {{ _('Journalist') }}<br>
                        <a href="mailto:bk@sermitsiaq.gl">bk@sermitsiaq.gl</a><br>
                    </p>
                    <p class="font-IBMPlexSans" data-lab-fontface="IBMPlexSans">
                        <span data-lab-font_weight="font-weight-bold" class="font-weight-bold m-font-weight-bold">Trine Juncher Jørgensen,</span> {{ _('Journalist') }}<br>
                        <a href="mailto:trine@sermitsiaq.gl">trine@sermitsiaq.gl</a>
                    </p>
                    <p class="font-IBMPlexSans" data-lab-fontface="IBMPlexSans">
                        <span data-lab-font_weight="font-weight-bold" class="font-weight-bold m-font-weight-bold">Oline Inuusuttoq Olsen,</span> {{ _('Journalist') }}<br>
                        <a href="mailto:oline@sermitsiaq.gl">oline@sermitsiaq.gl</a>
                    </p>
                    <p class="font-IBMPlexSans" data-lab-fontface="IBMPlexSans">
                        <span data-lab-font_weight="font-weight-bold" class="font-weight-bold m-font-weight-bold">Arne Mølgaard,</span> {{ _('Journalist') }}<br>
                        <a href="mailto:arne@sermitsiaq.gl">arne@sermitsiaq.gl</a><br>
                    </p>
                    <p class="font-IBMPlexSans" data-lab-fontface="IBMPlexSans">
                        <span data-lab-font_weight="font-weight-bold" class="font-weight-bold m-font-weight-bold">Arnaq Nielsen,</span> {{ _('Debatvært') }}<br>
                        <a href="mailto:arnaq@sermitsiaq.gl">arnaq@sermitsiaq.gl</a>
                    </p>
                    
                    <!-- FOTOGRAF -->
                    <p data-lab-fontface="IBMPlexSans" class="font-IBMPlexSans primary color_mobile_primary" data-lab-text_color="primary">
                        <span data-lab-font_weight="font-weight-bold" class="font-weight-bold m-font-weight-bold">{{ _('FOTOGRAF') }}</span>
                    </p>
                    <p class="font-IBMPlexSans font-weight-normal m-font-weight-normal" data-lab-fontface="IBMPlexSans" data-lab-font_weight="font-weight-normal">
                        <span data-lab-font_weight="font-weight-bold" class="font-weight-bold m-font-weight-bold">Oscar Scott Carl,</span> {{ _('Fotojournalist') }}<br>
                        <a href="mailto:oscar@sermitsiaq.gl">oscar@sermitsiaq.gl</a>
                    </p>
                    
                    <!-- SALGSAFDELING -->
                    <p class="font-IBMPlexSans" data-lab-fontface="IBMPlexSans">
                        <span data-lab-font_weight="font-weight-bold" class="font-weight-bold m-font-weight-bold primary color_mobile_primary" data-lab-text_color="primary">{{ _('SALGSAFDELING') }}</span>
                    </p>
                    <p class="font-IBMPlexSans" data-lab-fontface="IBMPlexSans">
                        <span data-lab-font_weight="font-weight-bold" class="font-weight-bold m-font-weight-bold">Lasse Christensen,</span> {{ _('Salgschef') }}<br>
                        <a href="mailto:lasse@sermitsiaq.gl">lasse@sermitsiaq.gl</a>
                    </p>
                    <p class="font-IBMPlexSans" data-lab-fontface="IBMPlexSans">
                        <span data-lab-font_weight="font-weight-bold" class="font-weight-bold m-font-weight-bold">Nuunu Josefsen,</span> {{ _('Salgskonsulent') }}<br>
                        <a href="mailto:nuunu@sermitsiaq.gl">nuunu@sermitsiaq.gl</a>
                    </p>
                    <p class="font-IBMPlexSans" data-lab-fontface="IBMPlexSans">
                        <span data-lab-font_weight="font-weight-bold" class="font-weight-bold m-font-weight-bold">Hans Pavia Petersen,</span> {{ _('Salgskonsulent') }}<br>
                        <a href="mailto:hp@sermitsiaq.gl">hp@sermitsiaq.gl</a>
                    </p>
                    <p class="font-IBMPlexSans" data-lab-fontface="IBMPlexSans">
                        <span data-lab-font_weight="font-weight-bold" class="font-weight-bold m-font-weight-bold">Martin Møller Kristensen,</span> {{ _('Salgskonsulent') }}<br>
                        <a href="mailto:martin@sermitsiaq.gl">martin@sermitsiaq.gl</a>
                    </p>
                    <p class="font-IBMPlexSans" data-lab-fontface="IBMPlexSans">
                        <span data-lab-font_weight="font-weight-bold" class="font-weight-bold m-font-weight-bold">Trine Birch Larsen,</span> {{ _('Salgskonsulent') }}<br>
                        <a href="mailto:trinebl@sermitsiaq.gl">trinebl@sermitsiaq.gl</a>
                    </p>
                    <p class="font-IBMPlexSans" data-lab-fontface="IBMPlexSans">
                        <span data-lab-font_weight="font-weight-bold" class="font-weight-bold m-font-weight-bold">Gertrud Albrechtsen,</span> {{ _('Salgskonsulent') }}<br>
                        <a href="mailto:gertrud@sermitsiaq.gl">gertrud@sermitsiaq.gl</a><br><br>
                    </p>
                    
                    <!-- GRAFISK AFDELING -->
                    <p class="font-weight-bold m-font-weight-bold primary color_mobile_primary font-IBMPlexSans" data-lab-font_weight="font-weight-bold" data-lab-text_color="primary" data-lab-fontface="IBMPlexSans">{{ _('GRAFISK AFDELING') }}</p>
                    <p class="font-IBMPlexSans" data-lab-fontface="IBMPlexSans">
                        <span data-lab-font_weight="font-weight-bold" class="font-weight-bold m-font-weight-bold">Linda Lyberth Rachlitz,</span> {{ _('Designchef') }}<br>
                        <a href="mailto:linda@sermitsiaq.gl">linda@sermitsiaq.gl</a>
                    </p>
                    <p class="font-IBMPlexSans" data-lab-fontface="IBMPlexSans">
                        <span data-lab-font_weight="font-weight-bold" class="font-weight-bold m-font-weight-bold">Malene Kuitse Christensen,</span> {{ _('Mediegrafiker') }}<br>
                        <a href="mailto:malene@sermitsiaq.gl">malene@sermitsiaq.gl</a><br><br>
                    </p>
                    
                    <!-- OVERSÆTTERKONTOR -->
                    <p class="font-weight-bold m-font-weight-bold primary color_mobile_primary font-IBMPlexSans" data-lab-text_color="primary" data-lab-font_weight="font-weight-bold" data-lab-fontface="IBMPlexSans">{{ _('OVERSÆTTERKONTOR') }}</p>
                    <p class="font-IBMPlexSans" data-lab-fontface="IBMPlexSans">
                        <span data-lab-font_weight="font-weight-bold" class="font-weight-bold m-font-weight-bold">Ane-Marie Petersen,</span> {{ _('Cheftolk') }}<br>
                        <a href="mailto:anemarie@sermitsiaq.gl">anemarie@sermitsiaq.gl</a>
                    </p>
                    <p class="font-IBMPlexSans" data-lab-fontface="IBMPlexSans">
                        <span data-lab-font_weight="font-weight-bold" class="font-weight-bold m-font-weight-bold">Arnarulunnguaq Enoksen,</span> {{ _('tolk') }}<br>
                        <a href="mailto:arnarulunnguaq@sermitsiaq.gl">arnarulunnguaq@sermitsiaq.gl</a>
                    </p>
                    <p class="font-IBMPlexSans" data-lab-fontface="IBMPlexSans">
                        <span data-lab-font_weight="font-weight-bold" class="font-weight-bold m-font-weight-bold">Elisa Isaksen,</span> {{ _('tolk') }}<br>
                        <a href="mailto:elisa@sermitsiaq.gl">elisa@sermitsiaq.gl</a>
                    </p>
                    <p class="font-IBMPlexSans" data-lab-fontface="IBMPlexSans">
                        <span data-lab-font_weight="font-weight-bold" class="font-weight-bold m-font-weight-bold">Aannguaq Hansen,</span> {{ _('tolk') }}<br>
                        <a href="mailto:aanngu@sermitsiaq.gl">aanngu@sermitsiaq.gl</a><br>
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Left Sticky Ad -->
    <div data-element-guid="51e3fb46-17fc-47b5-8e93-2001ba69bb43" class="placeholder placement-left">
        <div data-element-guid="ebbb2543-0368-4daa-e5a0-dedab72e10af" class="column google-ad small-12 large-12 small-abs-12 large-abs-12 sticky" style="top: 120px;">
            <span class="ad-label">Annonce</span>
            <div class="adunit" id="2018-Sticky-left"></div>
            <script>
                googletag.cmd.push(function() {
                    googletag.display('2018-Sticky-left');
                });
            </script>
        </div>
    </div>
    
    <!-- Right Sticky Ad -->
    <div data-element-guid="73b0c9ce-0712-4480-e0ad-f2d7518ce337" class="placeholder placement-right">
        <div data-element-guid="dde39079-4d35-49fa-c40d-fb4dc742babc" class="column google-ad small-12 large-12 small-abs-12 large-abs-12 sticky" style="top: 120px;">
            <span class="ad-label">Annonce</span>
            <div class="adunit" id="2018-Sticky-right"></div>
            <script>
                googletag.cmd.push(function() {
                    googletag.display('2018-Sticky-right');
                });
            </script>
        </div>
    </div>
</section>
{% endblock %}

