{% extends "base.html" %}

{% block head %}
    {% include 'partials/head.html' %}
    <title>{{ _('Cookies') }} - Sermitsiaq</title>
{% endblock %}

{% block content %}
<section class="main front" id="main">
    <h1 class="hidden-heading">Cookies - sermitsiaq</h1>
    
    <!-- Top Ad Placeholder -->
    <div data-element-guid="78eb4972-9d22-49e2-c485-244884831a48" class="placeholder placement-top">
        <div data-element-guid="d4d9f1ea-bd94-4543-95b5-17b03b1710f0" class="column google-ad small-12 large-12 small-abs-12 large-abs-12" style="">
            <span class="ad-label">Annonce</span>
            <div class="adunit" id="2018-Top-Mega-banner" style="display: none;" data-google-query-id=""><div id="google_ads_iframe_/1076009/2018-Top-Mega-banner_0__container__" style="border: 0pt none; width: 930px; height: 0px;"></div></div>
            <script>
                googletag.cmd.push(function() {
                    googletag.display('2018-Top-Mega-banner');
                });
            </script>
        </div>
    </div>
    
    <!-- Page Content -->
    <div data-element-guid="98508810-0d82-4228-8c78-de84661e9de0" class="page-content">
        <!-- Page Title -->
        <div data-element-guid="7b7a7ef5-bff2-4f6d-b721-9cccda4f6886" class="row small-12 large-12" style="">
            <div data-element-guid="f6977e1d-aee6-480d-b420-5eb0466659ee" class="column text_singleline small-12 large-12 small-abs-12 large-abs-12">
                <h2 class="content singleline t26 font-weight-bold m-font-weight-bold octonary color_mobile_octonary font-IBMPlexSans" style="">
                    Cookies
                </h2>
            </div>
        </div>
        
        <!-- Ad Banner 1 -->
        <div data-element-guid="fc217f59-90aa-45b8-d57a-a3c12cd03025" class="row small-12 large-12" style="">
            <div data-element-guid="8dda60e8-1938-4f8c-ddf5-2353946bf6a7" class="column google-ad small-12 large-12 small-abs-12 large-abs-12" style="">
                <span class="ad-label">Annonce</span>
                <div class="adunit" id="2018-Forsidebanner-1" style="display: none;" data-google-query-id=""><div id="google_ads_iframe_/1076009/2018-Forsidebanner-1_0__container__" style="border: 0pt none; width: 930px; height: 0px;"></div></div>
                <script>
                    googletag.cmd.push(function() {
                        googletag.display('2018-Forsidebanner-1');
                    });
                </script>
            </div>
        </div>
        
        <!-- Main Content -->
        <div data-element-guid="0dce3ddd-9326-4b34-b647-1244ef3eb918" class="row small-12 large-12" style="">
            <div data-element-guid="ad755d79-6d81-43bb-9c7b-f02c5f2e97e4" class="column text_multiline small-12 large-12 small-abs-12 large-abs-12">
                <div class="content multiline bodytext" style="">
                    <p data-lab-fontface="IBMPlexSans" class="font-IBMPlexSans">Sermitsiaq.com bruger cookies. Vi bruger cookies til blandt andet at vise annoncer og til at analysere vores trafik for at kunne levere et bedre nyhedssite til glæde for vore læsere.<br></p>
                    <p data-lab-fontface="IBMPlexSans" class="font-IBMPlexSans">Cookies er små tekstfiler, som kan bruges af websteder til at gøre en brugers oplevelse mere effektiv. Loven fastslår, at vi kan gemme cookies på din enhed, hvis de er strengt nødvendige for at sikre leveringen af den tjeneste, du udtrykkeligt har anmodet om at bruge. For alle andre typer cookies skal vi indhente dit samtykke. Dette websted bruger forskellige typer af cookies. Nogle cookies sættes af tredjeparts tjenester, der vises på vores sider. Du kan til enhver tid ændre eller tilbagetrække dit samtykke fra Cookiedeklarationen på vores hjemmeside. Få mere at vide om, hvem vi er, hvordan du kan kontakte os, og hvordan vi behandler persondata i vores Privatlivspolitik.</p>
                    <p data-lab-fontface="IBMPlexSans" class="font-IBMPlexSans">Dit samtykke gælder for følgende domæner: sermitsiaq.com</p>
                    <p data-lab-fontface="IBMPlexSans" class="font-IBMPlexSans">Din aktuelle tilstand: Afvis. </p>
                    <p data-lab-fontface="IBMPlexSans" class="font-IBMPlexSans">Dit samtykke-ID: xx+D4Z/MG1ZxVjgzW+opV9l16ntnYT7lCsed1chWkwEEzKLsECuj4A==<br>Dato for samtykke: onsdag den 31. maj 2023 kl. 10.32.10 GMT-2</p>
                    <p data-lab-fontface="IBMPlexSans" class="font-IBMPlexSans"><a href="{{ url_for('article_views.cookies') }}">Ændring af dit samtykke</a></p>
                </div>
            </div>
        </div>
        
        <!-- Ad Banner 2 -->
        <div data-element-guid="8c32ea08-7d3e-4245-ae3f-0e6d5028362e" class="row small-12 large-12" style="">
            <div data-element-guid="e1b15eb9-d86c-4d54-e1f4-dc8156f36683" class="column google-ad small-12 large-12 small-abs-12 large-abs-12" style="">
                <span class="ad-label">Annonce</span>
                <div class="adunit" id="2018-Forsidebanner-2" style="display: none;" data-google-query-id=""><div id="google_ads_iframe_/1076009/2018-Forsidebanner-2_0__container__" style="border: 0pt none; width: 930px; height: 0px;"></div></div>
                <script>
                    googletag.cmd.push(function() {
                        googletag.display('2018-Forsidebanner-2');
                    });
                </script>
            </div>
        </div>
        
        <!-- Additional Content -->
        <div data-element-guid="aa4a18b9-8e45-4e52-a11e-89dc79734f55" class="row small-12 large-12" style="">
            <div data-element-guid="52dd917d-9be8-4bb3-8ffb-1a1f7171d10c" class="column text_multiline small-12 large-12 small-abs-12 large-abs-12">
                <div class="content multiline bodytext" style="">
                    <p>Vi og vores samarbejdspartnere bruger teknologier, herunder cookies, til at indsamle oplysninger om dig til forskellige formål, herunder:</p>
                    <p>Ved at trykke på 'Accepter alle' giver du samtykke til alle disse formål. Du kan også vælge at tilkendegive, hvilke formål du vil give samtykke til ved at benytte checkboksene ud for formålet, og derefter trykke på 'Gem indstillinger'. Du kan til enhver tid trække dit samtykke tilbage ved at trykke på det lille ikon nederst i venstre hjørne af hjemmesiden.</p>
                    <p>Du kan læse mere om vores brug af cookies og andre teknologier, samt om vores indsamling og behandling af personoplysninger ved at trykke på linket.</p>
                </div>
            </div>
        </div>
        
        <!-- Ad Banner 3 -->
        <div data-element-guid="41123a0a-13e0-4953-eb39-9a9aac49a689" class="row small-12 large-12" style="">
            <div data-element-guid="3725a729-1de0-4a9c-c21c-0984ca1c5b37" class="column google-ad small-12 large-12 small-abs-12 large-abs-12" style="">
                <span class="ad-label">Annonce</span>
                <div class="adunit" id="2018-Forsidebanner-3" style="display: none;" data-google-query-id=""><div id="google_ads_iframe_/1076009/2018-Forsidebanner-3_0__container__" style="border: 0pt none; width: 930px; height: 0px;"></div></div>
                <script>
                    googletag.cmd.push(function() {
                        googletag.display('2018-Forsidebanner-3');
                    });
                </script>
            </div>
        </div>
        
        <!-- Jobs Section (simplified - can be removed or customized) -->
        <div data-element-guid="cf1b9e86-0feb-481f-909d-878a3beea7bf" class="row small-12 large-12" style="">
            <!-- Jobs slider can be added here if needed -->
        </div>
        
        <!-- Featured Articles Section (simplified - can be removed or customized) -->
        <div data-element-guid="e98e4f79-895a-40c2-8409-a7101eafc769" class="row small-12 large-12" style="">
            <!-- Featured articles can be added here if needed -->
        </div>
    </div>
    
    <!-- Sidebar Ads -->
    <div data-element-guid="c78963d7-5a10-4a16-d4fa-9f185d65f74c" class="placeholder placement-left">
        <div data-element-guid="0878a27e-df97-485b-b4e5-cabfcaf4da4f" class="column google-ad small-12 large-12 small-abs-12 large-abs-12 sticky" style="top: 120px;">
            <span class="ad-label">Annonce</span>
            <div class="adunit" id="2018-Sticky-left" style="display: none;" data-google-query-id=""><div id="google_ads_iframe_/1076009/2018-Sticky-left_0__container__" style="border: 0pt none; width: 160px; height: 600px;"></div></div>
            <script>
                googletag.cmd.push(function() {
                    googletag.display('2018-Sticky-left');
                });
            </script>
        </div>
    </div>
    
    <div data-element-guid="8054b735-3374-4dc7-956b-b2bdf85916f2" class="placeholder placement-right">
        <div data-element-guid="0893bb48-893b-4670-ec81-3cf64dbd2414" class="column google-ad small-12 large-12 small-abs-12 large-abs-12 sticky" style="top: 120px;">
            <span class="ad-label">Annonce</span>
            <div class="adunit" id="2018-Sticky-right" style="display: none;" data-google-query-id=""><div id="google_ads_iframe_/1076009/2018-Sticky-right_0__container__" style="border: 0pt none; width: 160px; height: 600px;"></div></div>
            <script>
                googletag.cmd.push(function() {
                    googletag.display('2018-Sticky-right');
                });
            </script>
        </div>
    </div>
</section>
{% endblock %}
